.card {
   position: inherit;
   text-align: center;
   left: 0%;
   right: 0;
   width: 50%;
   margin: 0 auto;
   padding: 1em;
   background-color: #fff;
   border-radius: 25px;
   margin-top: 10%;
}
.large {
margin-top: 2em !important;
margin-bottom: 2em !important;
}
h2 {
    text-transform: uppercase;
}
body {
    background-color: #f3f3f3;
}
a {
    margin-bottom: 1em;
    display: block;
}
h3 {
    margin-bottom: .25em;
}
#memberArea {
  width: 25em;
  height: 15em;
}
